<!-- application list -->

{% block stylesheets %}
    <link href="{{ asset('bundles/app/style.css') }}" type="text/css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

{% endblock %}
<div class="container-fluid time" id="applications" >
<!-- list by age -->
{% set iter = 1 %}
    {% for category in category %}
<div class='container-fluid {{ category.name }}' style="background-color: {{ category.color }}" >
    <div class="container">
        <h2> {{ category.name }}</h2>
        <div class="row" >
            <div class="time_down">
            </div>
            <div class=" col-xs-12">
                <!-- article query -->
                <div class="row">
                    {% set i=1 %}
              {#{% while the_query[$iter]->have_posts()) : $the_query[$iter]->the_post() %}#}
              {% for article in article %}
                    {% if article.category == category %}
                    <article class="col-xs-4 " >
                        <div class="blackSquare">

                                <div class="row" >
                                    <div class="footercredits col-xs-12"><p>{{ article.content }}</p>
                                    <div class="col-xs-10 col-xs-offset-1" style="background: url('{{ article.img }}') center center; background-size:cover; height:200px; ">
                                    </div>
                                    <div class="titleblock col-xs-12"><p>{{ article.title }}</p>
                                    </div>
                                </div>
                        </div>
                    </article>
                    {% if i%3==0 %}
                </div>
                <div class="time_down">
                </div>
                <div class ="row">
                {% endif %}
                {% set i=i+1 %}
                    {% endif %}
                  {%  endfor  %}
                    {#<!-- end.article query -->#}
                </div>
                <div class="time_down">
                </div>
            </div>
        </div>
    </div>
</div>
{%  set iter=iter+1 %}
{% endfor %}

</div>
